<ul class="contact-list">

    <li>
      <a href="https://www.instagram.com/churrosdon_juan/"
         rel="noopener noreferrer nofollow"
         target="_blank"><i class="fab fa-fw fa-instagram instagram"></i> Instagram
      </a>
    </li>

    <li>
        <a href="mailto:Churros.donjuan@gmx.de"><i style="color:blue" class="fa-regular fa-fw fa-envelope"></i> Mail
        </a>
    </li>

  <li>
    <a href="tel:0176-56841721"><i class="fa-solid fa-fw fa-phone" style="color:#6B8E23;"></i> Telefon
    </a>
  </li>

</ul>
