.colored-box {
    padding: 3px;
    border-radius: 3px;
    background-color: #D3D3D3;
}

.padding-box {
    padding: 15px;
}

.instagram:before {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: initial;
}

footer.footer {
    background-color: #D3D3D3;
}

.bold {
    font-weight: bold;
}

hr.sep {
    border-top: 2px solid WhiteSmoke;
    margin-top: 30px;
    margin-bottom: 30px;
}

h3 {
    color: #393e46;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.box {
    flex: 1 0 30%; /* Anpassen der Breite der Boxen */
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100%;
}


.stars {
  font-size: 20px;
  white-space: nowrap;
}


.stars i {
    color: gold;
}

.stars-text {
    margin-left: 10px;
    white-space: nowrap;
}

.rezension-box {
    border: 2px solid #6B8E23;
    border-radius: 3px;
    background-color: #D3D3D3;
}

.rezension-text {
    font-style: italic;
    font-size: 0.8em;
}

.italic {
    font-style: italic;
}

p.aktuell-datum {
    font-style: italic;
    font-size: 0.8em;
    padding: 0px;
    margin: 0px;
}

hr.rezension-sep {
    border-top: 2px solid #4D6F1B;
    margin-top: 15px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

.btn-custom {
  display: inline-block;
  font-weight: 400;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  background-color: #6B8E23;
  border: 1px solid #445F1D;
  border-radius: 5px;
  padding: 8px 16px;
  font-size: 14px;
  line-height: 1.5;
  transition: background-color 0.1s ease-in-out;
}

.btn-custom:hover {
  background-color: #4D6F1B;
  border-color: #3A5115;

}


.btn-link {
  display: inline-block;
}

.map-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}




.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery a {
    width: calc(25% - 10px);
    margin-bottom: 20px;
    display: block;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.gallery img {
    width: 100%;
    height: auto;
    transition: transform 0.3s;
}

.gallery a:hover img {
    transform: scale(1.1);
}

/* Ensure square aspect ratio */
.gallery a:before {
    content: "";
    display: block;
    padding-top: 100%; /* 1:1 aspect ratio */
}

/* Position the image within the square container */
.gallery img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio and fill */
}






td {
  border-bottom: 1px solid #6B8E23 !important;
}




.container_wagen {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Adjust spacing between boxes */
}

.wagen-box {
  flex-basis: calc(50% - 10px); /* Each box takes half of the available space minus spacing */
  background-color: #D3D3D3;
  border: 2px solid #6B8E23;
  padding: 20px;
  border-radius: 5px;
  box-sizing: border-box;
}

.wagen-box img {
  max-width: 100%;
  height: auto;
}

img.max {
    width: 100%;
    max-width: 40vw;
}

@media (min-width: 1000px) {
    img.max {
        max-width: 400px;
    }
}


@media (max-width: 700px) {
  .wagen-box {
    flex-basis: 100%; /* Each box takes full width on smaller screens */
  }
}

.wagen {
    transition: transform 0.3s;
}

.wagen:hover {
    transform: scale(1.05);
}







.video-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  overflow: hidden;
  max-width: 100%;
}

.video-item {
  position: relative;
  width: calc(50% - 10px);
  max-width: 100%;
}

.video-item video {
  width: 100%;
  height: auto;
}

.video-caption {
  position: absolute;
  bottom: 4px;
  left: -3px;
  color: black;
  font-size: 10px;
  padding: 2px 5px;
  opacity: 0;
  transition: opacity 0.3s ease;
}


.video-item:hover .video-caption {
  opacity: 1;
}



.flex-container {
    display: flex;
    flex-direction: row;
    align-items: center; /* Vertically center items */
}

.image-container {
    width: 30%;
    display: flex;
    align-items: center; /* Vertically center image */
}

img.flex {
    max-width: 100%;
    height: auto;
}


.flex-box {
    flex: 1; /* Allow the box to take remaining available width */
    padding: 20px;
    margin-left: 10px; /* Add some spacing between image and box */
    box-sizing: border-box;
}


.blue-black-border-box {
    padding: 20px;
    background-color: #61A3A2;
    border: 5px solid black;
}

@media (max-width: 800px) {
    .blue-black-border-box {
        padding: 12px;
        border: 3px solid black;
    }
}

.center {
    text-align: center;
}



.videos-container {
    display: flex;
    gap: 20px; /* Add spacing between the videos */
    align-items: flex-start; /* Align videos at the top of the container */
    flex-wrap: wrap; /* Allow videos to wrap to the next line */
}

.videos-item {
    max-width: 400px;
}

/* For small screens, make videos stack on top of each other */
@media (max-width: 600px) {
    .videos-container {
        flex-direction: column;
    }
}




#cookie-banner {
    display: block; /* Initially hide the div */
    position: fixed !important; /* Stick to the viewport */
    bottom: 0; /* Stick to the bottom of the viewport */
    left: 0; /* Align to the left */
    right: 0; /* Align to the right */
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.2); /* Optional: Add a shadow */
    color: white;
    background-color: rgb(54, 69, 79);
    padding: 10px;
    border-radius: 5px;
    z-index: 999    ;
    font-size: 70%
}